<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Create Ninja</title>
    <link rel="stylesheet" th:href="@{/create.css}">
</head>
<body>
    <h1>Add New Ninja</h1>
    <div class="form-container">
        <div th:if="${message}" class="message" th:text="${message}"></div>
        <form th:action="@{/ninja/ui/save}" th:object="${ninja}" method="post">
            <label for="name">Name:</label>
            <input type="text" id="name" th:field="*{name}" required />

            <label for="email">Email:</label>
            <input type="email" id="email" th:field="*{email}" required />

            <label for="imageUrl">Image URL:</label>
            <input type="text" id="imageUrl" th:field="*{imageUrl}" required />

            <label for="age">Age:</label>
            <input type="number" id="age" th:field="*{age}" required />

            <label for="rank">Rank:</label>
            <input type="text" id="rank" th:field="*{rank}" />

            <label for="mission">Mission:</label>
            <select id="mission" th:field="*{missions}">
                <option th:each="mission : ${missions}"
                        th:value="${mission.id}"
                        th:text="${mission.name}">Mission Name</option>
            </select>

            <button type="submit">Register Ninja</button>
        </form>
        <a th:href="@{/ninja/ui/list}">Back to the ninjas list</a>
    </div>
</body>
</html>