<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ninja Details</title>
    <link rel="stylesheet" th:href="@{/details.css}">
</head>
<body>
    <h1>Ninja Details</h1>
    <div>
        <img th:src="${ninja.imageUrl}" alt="${ninja.nome}" width="200" />
        <h2 th:text="${ninja.name}"></h2>
        <p><strong>Email:</strong> <span th:text="${ninja.email}"></span></p>
        <p><strong>Age:</strong> <span th:text="${ninja.age}"></span></p>
        <p><strong>Rank:</strong> <span th:text="${ninja.rank}"></span></p>

        <h3>Missions:</h3>
        <table>
            <thead>
            <tr>
                <th>Name</th>
                <th>Rank</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="mission : ${ninja.missions}">
                <td th:text="${mission.name}"></td>
                <td th:text="${mission.rank}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <a th:href="@{/ninja/ui/list}">Back to the ninja list</a>
</body>
</html>