<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ninjas List</title>
    <link rel="stylesheet" th:href="@{/list.css}">
</head>
<body>
<h1>Ninjas list</h1>
<a th:href="@{/ninja/ui/create}" class="btn-create">Add New Ninja</a>
<a th:href="@{/mission/ui/list}" class="btn-view">View Mission</a>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Image</th>
        <th>Name</th>
        <th>Age</th>
        <th>Email</th>
        <th>Rank</th>
        <th>Missions</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="ninja : ${ninjas}">
        <td th:text="${ninja.id}"></td>
        <td>
            <img th:src="${ninja.imageUrl}" width="100" height="100">
        </td>
        <td th:text="${ninja.name}"></td>
        <td th:text="${ninja.age}"></td>
        <td th:text="${ninja.email}"></td>
        <td th:text="${ninja.rank}"></td>
        <td>
            <span th:if="${ninja.missions != null}">
                <span th:each="mission : ${ninja.missions}">
                    Name: <span th:text="${mission.name}"></span>,
                    Rank: <span th:text="${mission.rank}"></span><br/>
                </span>
            </span>
            <span th:if="${ninja.missions == null or #lists.isEmpty(ninja.missions)}">No missions assigned</span>
        </td>
        <td>
            <a th:href="@{/ninja/ui/list/{id}(id=${ninja.id})}" class="action-btn">Show Details</a>
            <a th:href="@{/ninja/ui/alter/{id}(id=${ninja.id})}" class="action-btn">Alter</a>
            <a th:href="@{/ninja/ui/delete/{id}(id=${ninja.id})}" class="action-btn">Delete</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
